.footer__background{
    background: linear-gradient(0deg, #242F19, #242F19), #342520;
    padding: 24px 0 0 0;
    color: #D0D0D0;
    margin: rem(140px) 0 0 0;
    & a{
        margin: 0 0 rem(8px) 0;
    }
    @include tablet{
        margin: rem(56px) 0 0 0;
    }
}
.footer__row_one{
    display: flex;
    justify-content: space-between;
    @include tablet{
        // flex-direction: column;
        flex-wrap: wrap;
    }
    @include mobile{
        flex-direction: column;
    }
}
.footer__column{
    max-width: 140px;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 0 rem(24px) 0;
    & a{
        line-height: 16px;
    }
    & p{
        font-weight: 400;
        font-size: 18px;
        line-height: 21px;
        margin: 0 0 rem(16px) 0;
    }
    &:first-child{
        max-width: rem(263px);
        width: 100%;
        & p{
            font-size: rem(14px);
            line-height: 20px;
            font-weight: 400;
            margin: rem(18px) 0 0 0;
        }
        @include tablet{
            flex: 100%;
        }
    }
    @include tablet{
        max-width: 100%;
        flex: 50%;
        &:first-child{
            padding: 0 0 rem(32px) 0;
            margin: 0 0 rem(24px) 0;
            max-width: 100%;
            border-bottom: 1px solid rgba(255, 255, 255, 0.12);;
        }
    }
}
.footer__column.last{
    max-width: 233px;
    & a{
        &:nth-child(3){
            margin: 0 0 rem(12px) 0;
        }
        &:nth-child(4){
            margin: 0 0 rem(12px) 0;
        }
        &:nth-child(5){
            margin: 0 0 rem(12px) 0;
        }
    }
    @include tablet{
        max-width: 100%;
    }
}
.link.link__grey.margin_none{
    margin: 0 0 rem(4px) 0;
}
.footer__row_two{
    display: flex;
    justify-content: space-between;
    margin: 24px 0 0 0;
    padding: 16px 0;
    a{
        margin: 0 0 0 0;
    }
    height: rem(52px);
    align-items: center;
    border-top: 1px solid #C4C4C4;
    @include tablet{
        padding: 0 0 0 0;
        margin: rem(8) 0 0 0;
        height: auto;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }
}
.footer__row_two :nth-child(2n){
    display: flex;
    p{
        font-size: rem(16px);
        margin: 0 rem(4px);
    }
}
.footer__row_two :nth-child(3n){
    p{
        font-weight: 400;
        font-size: rem(16px);
        line-height: rem(20px);
    }
}
.footer__column_two{
    display: flex;
    @include tablet{
        justify-content: flex-start;
        margin: 0 0 8px 0;
        &:first-child{
            margin: 24px 0 8px 0;
        }
        &:nth-child(2n){
            display: flex;
            flex-direction: column;
            & a:first-child{
                margin: 0 0 8px 0;
            }
            & p{
                display: none;
            }
        }
    }
}
.text.text_grey{
        font-weight: 400;
        font-size: rem(14px);
        line-height: rem(16px);
}