.work__card{
    position: relative;
    max-width: rem(430px);
    width: 100%;
    height: rem(337px);
    border: 1px solid #C4C4C4;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: rem(24px);
    @include tablet{
        max-width: 100%;

    }
}
.work__card-title{
    max-width: rem(322px);
    width: 100%;
    & p{
        font-weight: 500;
        font-size: rem(18px);
        line-height: rem(22px);
    }
}
.work__card-text{
    max-width: rem(252px);
    width: 100%;
    margin: rem(12px) 0 0 0;
    & p{
        font-weight: 400;
        font-size: rem(16px);
        line-height: rem(19px);
        color: #484848;
    }
}
.work__card-img{
    position: absolute;
    bottom: rem(-5.5px);
    right: 0;
    z-index: -1;
    & svg{
        width: 100%;
    }
    @include tablet{
        & svg{
        max-width: 167px;
        max-height: 163px;
        }
        
    }
}
.work__card-date{
    display: flex;
}
.card-date__img{
    display: flex;
    align-items: center;
    margin: 0 rem(13px) 0 0;
}
.grend__card-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    @include tablet{
        grid-template-columns: 1fr 1fr;  
    }
    @include tablet_small{
        grid-template-columns: 1fr;  
    }
}