.breadcrumbs__container{
    margin: rem(-48px) 0 0 0;
    @include tablet{
        display: none;
    }
    & p {
        text-align: center;
        font-weight: 400;
        color: #838383;
        font-size: rem(14px);
    }
}
.breadcrumb > li + li:before {
    padding: 0px;
    color: #ccc;
    content: "/\00a0";
  }
  .breadcrumb-item{
    max-height: max-content;
    display: flex;
    align-items: center;
  }
.breadcrumbs{
    display: flex;
    padding: 0 0 0 rem(0px);
    & li{
        list-style-type: none;
        margin-right: 8px;
    }
}
.breadcrumb-item + .breadcrumb-item::before {
    display: inline-block;
    padding-right: 0.5rem;
    color: #000000;
    font-size: rem(12px);
    content: "/";
  }
.breadcrumbs_link{
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    font-family: 'Roboto';
    color: #365418;
    transition: 0.6s;
    &:hover{
        color: #99AB47;
    }
}