.checkbox{
    position: relative;
}
.checkbox__input{
    -webkit-appearance: none;
    appearance: none;
    position: absolute;
}
.custom__checkbox{
    display: block;
    text-align: justify;
    padding: 4px 0 0 rem(34px);
    &:before{
        content: '';
        display: block;
        width: rem(16px);
        height: rem(16px);
        background: #FFFFFF;
        border: rem(1px) solid #848484;
        border-radius: rem(2px);
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        z-index: 1;
        @include tablet{
            top: 0;
        }
    }
    &:after{
        content: '';
        display: block;
        width: rem(11px);
        height: rem(9px);
        background-image: url('../images/mark_checkbox.png');
        background-size: 100% 100%;
        background-repeat: no-repeat;
        position: absolute;
        top: 4.5px;
        bottom: 4.5px;
        left: 3.2px;
        z-index: 999;
        opacity: 0;
        @include tablet{
            top: 4.5px;
        }
    }
}
.checkbox__input:checked + .custom__checkbox::before{
    border: rem(1px) solid #19B107;
}
.checkbox__input:checked + .custom__checkbox::after{
    opacity: 1;
}
.checkbox__input.error + .custom__checkbox::before{
    border: 1px solid #D48282;
}