.input__container{
    margin: 0 0 rem(16px) 0;
}
.custom__input{
    width: 100%;
    color: #848484;
    border: 1px solid #848484;
    border-radius: rem(4px);
    padding: rem(17px) rem(20px);
    transition: 0.6s;
    font-size: 14px;
    &:hover{
        border: 1px solid #6C6C6C;
    }
    &:focus{
        border: 1px solid #A2D1F3;
    }
    &.active{
        border: 1px solid #99AB47;
    }
    &.error{
        border: 1px solid #D48282;
    }
}