.tab__container{

}
.tab{
    display: inline-block;
    font-family: 'Oswald';
    color: #99AB47;
    font-weight: 400;
    font-size: rem(16px);
    line-height: rem(30px);
    padding: rem(8px) rem(23.04px);
    background: rgba(209, 235, 89, 0.2);
    border-radius: rem(4px);
    transition: 0.6s;
    text-align: center;
    white-space: nowrap;
    border: none;
    cursor: pointer;
    & svg{
        margin: 0 rem(12px) 0 0;
    }
    &:hover{
        background: rgba(209, 235, 89, 0.6);
    }
    &.active{
        background: #D1EB59;
    }
}
.tab__two{
    border: none;
    padding: rem(15px) rem(24px);
    background: rgba(209, 235, 89, 0.2);
    border-radius: 30px;
    color: #99AB47;
    transition: 0.6s;
    cursor: pointer;
    &:hover{
        background: rgba(209, 235, 89, 0.6);
    }
    &.active{
        background: #D1EB59;
    }
}