<div class="section__img company__background_bisnes bisnes__background">
        <img loading="lazy" src="images/bisnes.png" class="section__img-content" alt="">
    <div class="container">
        <div class="company__bisnes_container">
            <div class="company__leader_header">
                <h2>
                    Хочешь <span>готовый</span> бизнес?
                </h2>
            </div>
            <div class="company__bisnes_text">
                <p>Забирай парк под брендом «Гамми» с окупаемостью 5 месяцев</p>
            </div>
            <div class="btn__position">
                <a href="" class="btn btn__background_green btn-index">Узнать подробнее</a>
            </div>
        </div>
    </div>
    <div class="company__img_znak">
        <img loading="lazy" src="images/company_znak.png" alt="">
        <!-- <img src="images/znackBackground.png" class="image-forest" alt=""> -->
    </div>
</div>