<div class="card__container">
    <div class="card__image">
        <img src="images/card__park.jpg" alt="">
    </div>
    <div class="card__info">
        <div class="card__header">
            <p>@@titleCard</p>
        </div>
        <div class="card__text">
            <p>Тип парка: веревочный</p>
            <p>Этапов: 12</p>
            <p>Количество трасс: 12</p>
            <p>Площадь: 12</p>
        </div>
        <div class="card__btn">
            <button class="btn btn__background_green request-price">Запросить цену</button>
            <a href="" class="btn btn__background_white">Подробнее</a>
        </div>
    </div>
</div>