<div class="fiter-mobile">
    <form action="" method="get">
        <div class="fiter-mobile__checkbox">
            <div class="checkbox__mobile">
                <input type="checkbox" id="check-mobile-1" value="1" name="1" class="checkbox__input_mobile">
                <label for="check-mobile-1" class="custom__checkbox_mibile">Все парки (70)</label>
            </div>
        </div>
        <div class="fiter-mobile__checkbox">
            <div class="checkbox__mobile">
                <input type="checkbox" id="check-mobile-2" value="2" name="2" class="checkbox__input_mobile">
                <label for="check-mobile-2" class="custom__checkbox_mibile">На деревьях (9)</label>
            </div>
        </div>
        <div class="fiter-mobile__checkbox">
            <div class="checkbox__mobile">
                <input type="checkbox" id="check-mobile-3" value="3" name="3" class="checkbox__input_mobile">
                <label for="check-mobile-3" class="custom__checkbox_mibile">На опорах (9)</label>
            </div>
        </div>
        <div class="fiter-mobile__checkbox">
            <div class="checkbox__mobile">
                <input type="checkbox" id="check-mobile-4" value="4" name="4" class="checkbox__input_mobile">
                <label for="check-mobile-4" class="custom__checkbox_mibile">В помещениях (9)</label>
            </div>
        </div>
        <div class="fiter-mobile__checkbox">
            <div class="checkbox__mobile">
                <input type="checkbox" id="check-mobile-5" value="5" name="5" class="checkbox__input_mobile">
                <label for="check-mobile-5" class="custom__checkbox_mibile">В помещениях (9)</label>
            </div>
        </div>
        <div class="fiter-mobile__checkbox">
            <div class="checkbox__mobile">
                <input type="checkbox" id="check-mobile-6" value="6" name="6" class="checkbox__input_mobile">
                <label for="check-mobile-6" class="custom__checkbox_mibile">Дом на дереве (5)</label>
            </div>
        </div>
        <div class="fiter-mobile__button-container">
            <div class="btn__position">
                <button type="submit" class="btn btn__background_green">
                    Применить
                </button>
            </div>
            <div class="btn__position">
                <a href="#!" class="btn btn__background_white closeFilter">
                    Отмена
                </a>
            </div>
        </div>
    </form>
</div>
<script src="js/openFilterMobile.js"></script>