<div class="company__reviews_container">
    <div class="company__leader_header">
        <h2>
            Отзывы
        </h2>
    </div>

    <div class="company__swipper">
        <div class="swiper mySwiperCompany">
            <div class="swiper-wrapper">
              
              <div class="swiper-slide">
                <div class="reviews_info">
                    <div class="reviews_header">
                        <div class="reviews_svg">
                            <img loading="lazy" src="images/bank.png" alt="">               
                        </div>
                        <div class="reviews_header_text">
                            <div class="reviews_head">
                                <p>Оздоровительное объединение «Южный» Центрального Банка РФ</p>
                            </div>
                            <div class="reviews_head_text">
                                <p>г. Адлер</p>
                            </div>
                        </div>
                    </div>
                    <div class="reviews_text">
                        <p>Благодарим компанию R-park за производство и монтаж веревочного парка на территории нашего пансионата. Проект выполнен строго в соответствии с техническим заданием, учтены все пожелания. Наши гости со всей России с удовольствием проходят все трассы парка, катаются на троллеях. Благодарим Вас за эмоции наших гостей! Наши гости со всей России с удовольствием проходят все трассы парка, катаются на троллеях. Благодарим Вас за эмоции наших гостей!</p>
                    </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="reviews_video">
                    <img loading="lazy" src="images/company_video.jpg" alt="">
                    <iframe src="https://www.youtube.com/embed/XzLuMtDelGk?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    <div class="reviews_video_svg">
                        <svg width="102" height="104" viewBox="0 0 102 104" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g clip-path="url(#clip0_1504_2624)">
                            <circle cx="52.8486" cy="52.0039" r="38" fill="#D1EB59"/>
                            <circle cx="52.3486" cy="51.5039" r="51" stroke="url(#paint0_linear_1504_2624)"/>
                            <path d="M62.8486 52.0039L47.8486 60.6642L47.8486 43.3437L62.8486 52.0039Z" fill="white"/>
                            </g>
                            <defs>
                            <linearGradient  x1="16.5225" y1="13.4387" x2="130.718" y2="59.3409" gradientUnits="userSpaceOnUse">
                            <stop offset="0.614583" stop-color="#D1EB59"/>
                            <stop offset="0.614583" stop-color="#D1EB59" stop-opacity="0"/>
                            </linearGradient>
                            <clipPath >
                            <rect width="100.302" height="103" fill="white" transform="translate(0.848633 0.00390625)"/>
                            </clipPath>
                            </defs>
                            </svg>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="reviews_info">
                    <div class="reviews_header">
                        <div class="reviews_svg">
                            <img loading="lazy" src="images/bank.png" alt="">                                        
                        </div>
                        <div class="reviews_header_text">
                            <div class="reviews_head">
                                <p>Оздоровительное объединение «Южный» Центрального Банка РФ</p>
                            </div>
                            <div class="reviews_head_text">
                                <p>г. Адлер</p>
                            </div>
                        </div>
                    </div>
                    <div class="reviews_text">
                        <p>Благодарим компанию R-park за производство и монтаж веревочного парка на территории нашего пансионата. Проект выполнен строго в соответствии с техническим заданием, учтены все пожелания. Наши гости со всей России с удовольствием проходят все трассы парка, катаются на троллеях. Благодарим Вас за эмоции наших гостей! Наши гости со всей России с удовольствием проходят все трассы парка, катаются на троллеях. Благодарим Вас за эмоции наших гостей!</p>
                    </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="reviews_video">
                    <img loading="lazy" src="images/company_video.jpg" alt="">
                    <video controls="controls" preload="none" muted="" loop="">
                        <source src="images/video/1.mp4" type="video/mp4"> 
                    </video>
                    
                    <div class="reviews_video_svg">
                        <svg width="102" height="104" viewBox="0 0 102 104" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g clip-path="url(#clip0_1504_2624)">
                            <circle cx="52.8486" cy="52.0039" r="38" fill="#D1EB59"/>
                            <circle cx="52.3486" cy="51.5039" r="51" stroke="url(#paint0_linear_1504_2624)"/>
                            <path d="M62.8486 52.0039L47.8486 60.6642L47.8486 43.3437L62.8486 52.0039Z" fill="white"/>
                            </g>
                            <defs>
                            <linearGradient  x1="16.5225" y1="13.4387" x2="130.718" y2="59.3409" gradientUnits="userSpaceOnUse">
                            <stop offset="0.614583" stop-color="#D1EB59"/>
                            <stop offset="0.614583" stop-color="#D1EB59" stop-opacity="0"/>
                            </linearGradient>
                            <clipPath >
                            <rect width="100.302" height="103" fill="white" transform="translate(0.848633 0.00390625)"/>
                            </clipPath>
                            </defs>
                            </svg>
                    </div>
                </div>
            </div>
              
              
            </div>
            <div class="swiper-pagination"></div>
           <div class="swiper-button-next-rev">
                            <svg width="68" height="68" viewBox="0 0 68 68" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <g>
                                <rect x="12" y="8" width="44" height="44" rx="4" fill="#D1EB59"/>
                                <path d="M24 28.9961C23.4477 28.9961 23 29.4438 23 29.9961C23 30.5484 23.4477 30.9961 24 30.9961V28.9961ZM44.7071 30.7032C45.0976 30.3127 45.0976 29.6795 44.7071 29.289L38.3431 22.925C37.9526 22.5345 37.3195 22.5345 36.9289 22.925C36.5384 23.3156 36.5384 23.9487 36.9289 24.3392L42.5858 29.9961L36.9289 35.6529C36.5384 36.0435 36.5384 36.6766 36.9289 37.0672C37.3195 37.4577 37.9526 37.4577 38.3431 37.0672L44.7071 30.7032ZM24 30.9961H44V28.9961H24V30.9961Z" fill="#99AB47"/>
                                </g>
                                <defs>
                                <filter id="filter0_d_988_29344" x="0" y="0" width="68" height="68" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                                <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                                <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
                                <feOffset dy="4"/>
                                <feGaussianBlur stdDeviation="6"/>
                                <feComposite in2="hardAlpha" operator="out"/>
                                <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.15 0"/>
                                <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_988_29344"/>
                                <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_988_29344" result="shape"/>
                                </filter>
                                </defs>
                            </svg>                                
                        </div>
            <div class="swiper-button-prev-rev">
                            <svg width="68" height="68" viewBox="0 0 68 68" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <g>
                                <rect x="12" y="8" width="44" height="44" rx="4" fill="#D1EB59"/>
                                <path d="M44 30.9961C44.5523 30.9961 45 30.5484 45 29.9961C45 29.4438 44.5523 28.9961 44 28.9961V30.9961ZM23.2929 29.289C22.9024 29.6795 22.9024 30.3127 23.2929 30.7032L29.6569 37.0672C30.0474 37.4577 30.6805 37.4577 31.0711 37.0672C31.4616 36.6766 31.4616 36.0435 31.0711 35.6529L25.4142 29.9961L31.0711 24.3392C31.4616 23.9487 31.4616 23.3156 31.0711 22.925C30.6805 22.5345 30.0474 22.5345 29.6569 22.925L23.2929 29.289ZM44 28.9961H24V30.9961H44V28.9961Z" fill="#99AB47"/>
                                </g>
                                <defs>
                                <filter  x="0" y="0" width="68" height="68" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                                <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                                <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
                                <feOffset dy="4"/>
                                <feGaussianBlur stdDeviation="6"/>
                                <feComposite in2="hardAlpha" operator="out"/>
                                <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.15 0"/>
                                <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_988_29341"/>
                                <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_988_29341" result="shape"/>
                                </filter>
                                </defs>
                                </svg>
                                
                        </div>
        </div>
    </div>
    <div class="company__swipper_mobile">
        <div class="swiper mySwiperMobil">
            <div class="swiper-wrapper">
              
              <div class="swiper-slide">
                <div class="reviews_info">
                    <div class="reviews_header">
                        <div class="reviews_svg">
                            <img loading="lazy" src="images/bank.png" alt="">                                                 
                        </div>
                        <div class="reviews_header_text">
                            <div class="reviews_head">
                                <p>Оздоровительное объединение «Южный» Центрального Банка РФ</p>
                            </div>
                            <div class="reviews_head_text">
                                <p>г. Адлер</p>
                            </div>
                        </div>
                    </div>
                    <div class="reviews_text">
                        <p>Благодарим компанию R-park за производство и монтаж веревочного парка на территории нашего пансионата. Проект выполнен строго в соответствии с техническим заданием, учтены все пожелания. Наши гости со всей России с удовольствием проходят все трассы парка, катаются на троллеях. Благодарим Вас за эмоции наших гостей! Наши гости со всей России с удовольствием проходят все трассы парка, катаются на троллеях. Благодарим Вас за эмоции наших гостей!</p>
                    </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="reviews_video">
                    <img loading="lazy" src="images/company_video.jpg" alt="">
                    <iframe src="https://www.youtube.com/embed/XzLuMtDelGk?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    <div class="reviews_video_svg">
                        <svg width="102" height="104" viewBox="0 0 102 104" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g clip-path="url(#clip0_1504_2624)">
                            <circle cx="52.8486" cy="52.0039" r="38" fill="#D1EB59"/>
                            <circle cx="52.3486" cy="51.5039" r="51" stroke="url(#paint0_linear_1504_2624)"/>
                            <path d="M62.8486 52.0039L47.8486 60.6642L47.8486 43.3437L62.8486 52.0039Z" fill="white"/>
                            </g>
                            <defs>
                            <linearGradient  x1="16.5225" y1="13.4387" x2="130.718" y2="59.3409" gradientUnits="userSpaceOnUse">
                            <stop offset="0.614583" stop-color="#D1EB59"/>
                            <stop offset="0.614583" stop-color="#D1EB59" stop-opacity="0"/>
                            </linearGradient>
                            <clipPath >
                            <rect width="100.302" height="103" fill="white" transform="translate(0.848633 0.00390625)"/>
                            </clipPath>
                            </defs>
                            </svg>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="reviews_info">
                    <div class="reviews_header">
                        <div class="reviews_svg">
                            <img loading="lazy" src="images/bank.png" alt="">                                                  
                        </div>
                        <div class="reviews_header_text">
                            <div class="reviews_head">
                                <p>Оздоровительное объединение «Южный» Центрального Банка РФ</p>
                            </div>
                            <div class="reviews_head_text">
                                <p>г. Адлер</p>
                            </div>
                        </div>
                    </div>
                    <div class="reviews_text">
                        <p>Благодарим компанию R-park за производство и монтаж веревочного парка на территории нашего пансионата. Проект выполнен строго в соответствии с техническим заданием, учтены все пожелания. Наши гости со всей России с удовольствием проходят все трассы парка, катаются на троллеях. Благодарим Вас за эмоции наших гостей! Наши гости со всей России с удовольствием проходят все трассы парка, катаются на троллеях. Благодарим Вас за эмоции наших гостей!</p>
                    </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="reviews_video">
                    <img loading="lazy" src="images/company_video.jpg" alt="">
                    <video controls="controls" preload="none" muted="" loop="">
                        <source src="images/video/1.mp4" type="video/mp4"> 
                    </video>
                    
                    <div class="reviews_video_svg">
                        <svg width="102" height="104" viewBox="0 0 102 104" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g clip-path="url(#clip0_1504_2624)">
                            <circle cx="52.8486" cy="52.0039" r="38" fill="#D1EB59"/>
                            <circle cx="52.3486" cy="51.5039" r="51" stroke="url(#paint0_linear_1504_2624)"/>
                            <path d="M62.8486 52.0039L47.8486 60.6642L47.8486 43.3437L62.8486 52.0039Z" fill="white"/>
                            </g>
                            <defs>
                            <linearGradient  x1="16.5225" y1="13.4387" x2="130.718" y2="59.3409" gradientUnits="userSpaceOnUse">
                            <stop offset="0.614583" stop-color="#D1EB59"/>
                            <stop offset="0.614583" stop-color="#D1EB59" stop-opacity="0"/>
                            </linearGradient>
                            <clipPath >
                            <rect width="100.302" height="103" fill="white" transform="translate(0.848633 0.00390625)"/>
                            </clipPath>
                            </defs>
                            </svg>
                    </div>
                    </div>
                </div>
            </div>
              
              
            </div>
            <div class="swiper-pagination"></div>
        </div>
    </div>
</div>  
<script src="js\playVideo.js"></script>