.policy__header{
    margin: 0 0 rem(58px) 0;
    & h1{
        font-weight: 600;
        font-size: rem(56px);
        line-height: rem(72px);
    }
    @include tablet{
        margin: 0 0 rem(24px) 0;
        & h1{
            font-weight: 500;
            font-size: rem(34px);
            line-height: 120%;
        }
    }
}
.policy__header_text{
    margin: 0 0 rem(20px) 0;
    & h6{
        font-weight: 700;
        font-size: rem(16px);
        line-height: rem(20px);
    }
}
.policy__text{
    & p{
        font-weight: 400;
        font-size: rem(16px);
        line-height: rem(20px);
        margin: 0 0 rem(16px) 0;
        &:last-child{
            margin: 0 0 rem(24px) 0;
        }
        @include tablet{
            margin: 0 0 rem(12px) 0;
        }
    }
}